.ui-tabs {
	padding: 0;
	border: 0;
}
.ui-tabs .ui-tabs-nav {
	padding: 0;
	margin-bottom: 2px;
	overflow: hidden;
}
.ui-widget-header {
	background: none;
	border: 0;
}
.ui-tabs .ui-tabs-nav li {
    float: left;
    list-style: none outside none;
    margin: 0 1px 0 0;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 8px 20px;
}
.ui-tabs .ui-tabs-panel { 
	padding: 20px;
	border: 1px solid #DEDEDE;
	background: #F6F6F6;
}
/*.ui-tabs .ui-tabs-nav li a { 
	border: 1px solid #DEDEDE;
	background: #F6F6F6;
} */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, 
li.ui-state-active a
/* .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a */ {
	border: 1px solid #DEDEDE;
	background: #F6F6F6;
	cursor: default;
}
/* .ui-tabs .ui-tabs-nav li a {
	background: #707070;
	border: 1px solid #707070;
	color: #fff;
} */
li.ui-state-default a, .ui-state-default a:focus {
	background: #707070;
	border: 1px solid #707070;
	color: #fff;
}
