.ui-tabs {
	padding: 0;
	border: 0;
	font-size: 15px;
}
.ui-tabs .ui-tabs-nav {
	padding: 0;
	margin: 0 0 2px;
	overflow: hidden;
}
.ui-widget-header {
	background: none;
	border: 0;
}
.ui-tabs .ui-tabs-nav li {
    float: left;
    list-style: none outside none;
    margin: 0 1px 0 0;
    top: 0;
    border: 0;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 7px 20px;
	display: block;
	border: 1px; 	
}
.ui-tabs .ui-tabs-panel { 
	padding: 20px;
	border: 1px solid #DEDEDE;
	background: #F6F6F6;
	clear: both;
}
.ui-state-default.ui-state-active, .ui-widget-content .ui-state-default.ui-state-active, .ui-widget-header .ui-state-active, 
li.ui-state-default.ui-state-active a:link, li.ui-state-default.ui-state-active a:link:hover {
	border-color: #DEDEDE;
	background: #F6F6F6;
	color: #525252;
	cursor: default;
}
li.ui-state-default a:link, .ui-state-default a:focus, .ui-state-default a:focus {
	background: #707070;
	border: 1px solid #707070;
	color: #fff;
}

li.ui-state-default a:link:hover {
	background: #444;
}
.ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav li a { 
	border-radius: 4px;
		-moz-border-radius: 4px;
	  	-webkit-border-radius: 4px;
}