#main_content .ui-widget-content {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main_content .ui-accordion .ui-accordion-header {
	background: #F6F6F6;
}
#main_content .ui-accordion h3 .ui-accordion-header a {
	color: #525252;
	font-size: 15px;
	border: 1px solid #DEDEDE;
	 
}
#main_content .ui-widget-content {
	height: auto !important;
	background: transparent;
	border: 1px solid #DEDEDE;
	padding: 20px;
}
#main_content .ui-widget-content .news_block {
	padding: 0;
	border: 0;
}
#main_content .ui-accordion h3 {
	font-size: 16px;
}
#main_content .ui-accordion h3 a {
	color: #2898D4;
}
 
#main_content .ui-accordion h3 a:hover {
	color: #005580;
}
 